In [7]:
#import  the data 
import pandas as pd
df = pd.read_csv('honey_purity_dataset.csv')

df.shape


##clean the data 
# remove missing vaules , duplicate rows 

#split the data  into training/test sets

#Create a model 

# train  the model

# make  predictions 

# evalute and improve

(247903, 11)

In [11]:
#converting Pollen_analysis value into string into a ingter that Represent the pollen 
# 0= Clover 1= Wildflower 2= Orange Blossom  3= Alfalfa 4= Acacia 5= Lavender
# 6= Eucalyptus 7= Buckwheat 8= Manuka 9=Sage 10= Sunflower 11=Borage 
# 12= Rosemary 13= Thyme 14=Heather 15=Tupelo 16=Blueberry 17=Chestnut 18= Avocado
pollenList=('Clover', 'Wildflower', 'Orange Blossom', 'Alfalfa', 'Acacia', 'Lavender', 'Eucalyptus', 'Buckwheat', 'Manuka', 'Sage', 'Sunflower', 'Borage', 'Rosemary', 'Thyme', 'Heather', 'Tupelo', 'Blueberry', 'Chestnut', 'Avocado')
#function
def addnumpollen():
    for index, pollen in enumerate(pollenList): 
     df.loc[df['Pollen_analysis']== pollen, 'Pollen_type']= index
     print(index,pollen)
addnumpollen()

0 Clover
1 Wildflower
2 Orange Blossom
3 Alfalfa
4 Acacia
5 Lavender
6 Eucalyptus
7 Buckwheat
8 Manuka
9 Sage
10 Sunflower
11 Borage
12 Rosemary
13 Thyme
14 Heather
15 Tupelo
16 Blueberry
17 Chestnut
18 Avocado

In [12]:
df.describe()

,CS,Density,WC,pH,EC,F,G,Viscosity,Purity,Price,Pollen_type
count,247903.000000,247903.000000,247903.000000,247903.000000,247903.000000,247903.000000,247903.000000,247903.000000,247903.000000,247903.000000,247903.000000
mean,5.500259,1.535523,18.502625,4.996047,0.799974,34.970573,32.501006,5752.893888,0.824471,594.807644,9.009669
std,2.593947,0.187824,3.748635,1.444060,0.057911,8.655898,7.226290,2455.739903,0.139417,233.627972,5.474140
min,1.000000,1.210000,12.000000,2.500000,0.700000,20.000000,20.000000,1500.050000,0.610000,128.720000,0.000000
25%,3.260000,1.370000,15.260000,3.750000,0.750000,27.460000,26.230000,3627.880000,0.660000,433.000000,4.000000
50%,5.500000,1.540000,18.510000,4.990000,0.800000,34.970000,32.490000,5753.770000,0.820000,612.960000,9.000000
75%,7.740000,1.700000,21.750000,6.250000,0.850000,42.470000,38.760000,7886.650000,0.970000,770.220000,14.000000
max,10.000000,1.860000,25.000000,7.500000,0.900000,50.000000,45.000000,9999.970000,1.000000,976.690000,18.000000

In [4]:
clean_data = df.dropna()
clean_data.drop_duplicates
clean_data.shape

(247903, 11)

In [19]:
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split 
from sklearn.metrics import mean_squared_error, r2_score
model= LinearRegression()

 
X= clean_data.drop(columns= ['Price','Pollen_analysis'])
y= clean_data['Price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2)

model.fit(X_train , y_train)
predictions = model.predict(X_test)
predictions

array([606.41184195, 463.04314578, 473.16504394, ..., 490.13979011,
       722.77804491, 717.73484186], shape=(49581,))

In [20]:
mse= mean_squared_error(y_test, predictions)
r2= r2_score(y_test, predictions)
print('Mean squared error for test set:', mse , ' R-squared score:', r2)

Mean squared error for test set: 44744.41908780384  R-squared score: 0.1859782491986659